<div class="padre">
<img src="@ViewBag.datosCandidato.Foto" width="50%">
<h1>@ViewBag.datosCandidato.Nombre @ViewBag.datosCandidato.Apellido</h1>
<h3>Fecha de nacimiento: @ViewBag.datosCandidato.FechaNacimiento</h3>
<h3>Postulacion: @ViewBag.datosCandidato.Postulacion</h3>
    
</div>